PORT=3000
HOST_ENV=local
DATABASE_URL=postgresql://pstore:pstore@172.18.144.1:5432/pstore?schema=public
WEBAPP_URL=http://localhost:8000
SOURCE_VERSION=123
DEBUG=pstore:*,-pstore:prisma:*,-pstore:trpc:query:success