PORT=3000
HOST_ENV=local
DATABASE_URL=postgresql://spectech:spectech@172.18.144.1:5432/spectech?schema=public
JWT_SECRET=super-omega-secret-key
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=123
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=!!!SECRET!!!
FROM_EMAIL_NAME=spectech
FROM_EMAIL_ADDRESS=tralalelo785@gmail.com
DEBUG=spectech:*,-spectech:prisma:*,-spectech:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SOURCE_VERSION=123
SENTRY_AUTH_TOKEN=!!!SECRET!!!
# CLOUDINARY_API_KEY=!!!SECRET!!!
# CLOUDINARY_API_SECRET=!!!SECRET!!!
CLOUDINARY_CLOUD_NAME=dyn8lnogg